*.swp
*.orig
*.DS_Store
*.log
doc/
ScrollNinja/bin/com/gdx.gwt.xml
ScrollNinja-html/.gwt/.gwt-log
ScrollNinja-android/bin/resources.ap_
ScrollNinja-android/bin/classes.dex
ScrollNinja-android/bin/ScrollNinja-android.apk
